// Products
.products {
    margin-bottom: 80px;
}

// Products Cards
.products__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

// Products Card
.products__card {
    position: relative;
    width: 380px;
    height: 435px;
    background-color: $light-gray;
}

.products__card .card__image {
    margin-top: 32px;
    margin-left: 24px;
}

.products__card h3 {
    position: absolute;
    bottom: 68px;
    left: 24px;
    font-size: 28px;
    font-weight: 600;
}

.products__card .btn {
    position: absolute;
    bottom: 32px;
    left: 19px;
}

.products__card .mark {
    position: absolute;
    bottom: 37px;
    left: 145px;
}